<div class="flex justify-between mb-4">
  <div class="flex items-start gap-2">
    <img class="w-10 h-10 rounded-full object-cover" src="{{ author.profile_picture.url|default:'https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=600' }}" alt="{{ author.username }}" />
    <!-- Comment Author -->
    <div class="flex flex-col">
      <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold hover:text-blue-600 transition-colors duration-200">{{ author.username }}</p>
      <!-- Comment Date -->
      <p class="text-sm text-gray-600 dark:text-gray-400">
        <time pubdate datetime="{{ publish_date|date:'Y-m-d' }}" title="{{ publish_date|date:'F jS, Y' }}">{{ publish_date|date:'F jS, Y' }}</time>
      </p>
    </div>
  </div>
  <button class="bg-slate-200 px-8 py-2 rounded hover:bg-slate-300 font-semibold">Follow</button>
</div>
