{% load static tailwind_tags %}

<section class="dark:bg-gray-900 py-8 lg:py-16 antialiased">
  <div class="mx-auto">
    <!-- Discussion Header -->
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion ({{ comments.count }})</h2>
    </div>

    <!-- Comments List -->
    {% for comment in comments %}
      <article class="text-base rounded-lg dark:bg-gray-900 mb-4">
        <footer class="flex justify-between items-center mb-2">
          <div class="flex items-start mb-4 gap-2">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ comment.user.profile_picture.url|default:'https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=600' }}" alt="{{ comment.user.username }}" />
            <!-- Comment Author -->
            <div class="flex flex-col">
              <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold hover:text-blue-600 transition-colors duration-200">{{ comment.user.username }}</p>
              <!-- Comment Date -->
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <time pubdate datetime="{{ publish_date|date:'Y-m-d' }}" title="{{ comment.created_at|date:'F jS, Y' }}">{{ comment.created_at|date:'F jS, Y' }}</time>
              </p>
            </div>
          </div>

          <!-- Comment Dropdown Menu -->
          <button id="dropdownComment{{ comment.id }}Button" data-dropdown-toggle="dropdownComment{{ comment.id }}" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
              <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
            <span class="sr-only">Comment settings</span>
          </button>
          <!-- Dropdown Menu Content -->
          <div id="dropdownComment{{ comment.id }}" class="hidden z-50 w-36 rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownComment{{ comment.id }}Button">
              {% if request.user.is_staff or request.user.id == comment.user.id %}
                <li>
                  <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <form action="{% url 'delete-comment' comment.id %}" method="post" class="min-w-full">
                    {% csrf_token %}
                    <button type="sbumit" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</button>
                  </form>
                </li>
              {% endif %}
              <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
              </li>
            </ul>
          </div>
        </footer>
        <!-- Comment Content -->
        <p class="text-gray-500 dark:text-gray-400">{{ comment.content }}</p>
        <!-- Reply Button -->
        <div class="flex items-center mt-4 space-x-4">
          <button type="button" class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
            <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
            </svg>Reply
          </button>
        </div>
      </article>
      <hr class="py-2" />
    {% endfor %}

    <!-- Comment Form -->
    <form class="mb-6" action="{% url 'post-detail' post.id post.slug %}" method="post">
      {% csrf_token %}
      <label for="id_content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
      <textarea id="id_content" name="content" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg mb-2.5 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your comment here..." required></textarea>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Post Comment</button>
    </form>
  </div>
</section>
