{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block header %}
  {{ form.media }}
{% endblock %}

{% block style %}

{% endblock %}

{% block main %}
  {% for post in posts %}
    <!-- Blog Card -->
    <div class="max-w-2xl bg-white rounded-lg shadow-md overflow-hidden flex flex-col md:flex-row">
      <!-- Image Section -->
      <img src="https://images.pexels.com/photos/842548/pexels-photo-842548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Blog Thumbnail" class="w-full md:w-1/3 h-48 md:h-auto object-cover" />

      <!-- Content Section -->
      <div class="p-5 flex flex-col justify-center">
        <h2 class="text-xl font-semibold text-gray-800">{{ post.title }}</h2>
        <article class="post-body text-gray-600 mt-2">{{ post.body|safe }}</article>
        <a href="{% url 'post-detail' post.id post.slug %}" class="inline-flex items-center mt-4 px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-lg hover:bg-blue-700 transition self-start">
          Read More<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block script %}
  <script>
    const maxLength = 160
    const postBodies = document.querySelectorAll('.post-body')
    
    postBodies.forEach((postBody) => {
      if (postBody.innerText.length > maxLength) {
        postBody.innerText = postBody.innerText.substring(0, maxLength) + '...'
      }
    })
  </script>
{% endblock %}
