{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
{{ form.media }}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/ckeditor_5.css' %}">
{% endblock style %}


{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <!-- Meta Info -->
  <div class="text-gray-500 mt-2">
    {% include 'blog/partials/author_info.html' with author=post.author publish_date=post.publish %}
  </div>

  <!-- Blog Title -->
  <h1 class="text-3xl font-bold text-gray-800">{{ post.title }}</h1>

  <!-- Blog Thumbnail -->
  <img
    src="https://images.pexels.com/photos/842548/pexels-photo-842548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="{% if alt_text %}{{ blog.slug }}{% else %}Blog post image{% endif %}" loading="lazy"
    class="w-full h-64 object-cover mt-4 rounded-lg shadow-md">
  <article id="blog-content" class="mt-6 text-gray-700 leading-relaxed">
    {{ post.content|safe}}
  </article>

  <!-- Related Posts -->
  <div class="mt-10">
    <h2 class="text-2xl font-semibold text-gray-800">Related Posts</h2>
    <div class="mt-4 space-y-4">
      <a href="#" class="block text-blue-600 hover:underline">Understanding Django ORM</a>
      <a href="#" class="block text-blue-600 hover:underline">Top 10 Python Libraries for Web Development</a>
      <a href="#" class="block text-blue-600 hover:underline">Mastering Tailwind CSS for UI Design</a>
    </div>
  </div>
  {% include 'blog/partials/comments.html' %}
</div>
{% endblock content %}