{% extends 'base.html' %}
{% load static tailwind_tags %}


{% block title %}
{{ post.title }}
{% endblock title %}



{% block content %}
<section class="bg-gray-100 flex justify-center items-center min-h-screen py-4">

    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold text-gray-800 text-center">Share with Friends</h2>
        <p class="font-bold text-gray-800 text-center">Welcome to <a href="{% url 'home' %}"
                class="text-blue-600 hover:text-blue-700">TechSphere</a></p>

        {% comment %}Errors{% endcomment %}
        {% if messages %}
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
            {% for message in messages %}
            <li
                class="{% if message.tags == 'error' %} text-red-500{% elif message.tags == 'success' %} text-green-500{% endif %}">
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Sign-In Form -->
        <form class="mt-6" action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <!-- Name-->
            <div>
                <label class="form-label" for="id_name">Name</label>
                <input type="text" name="name" id="id_name" placeholder="Enter your name" class="form-input">
            </div>

            <!-- Email -->
            <div>
                <label class="form-label" for="id_email">Email</label>
                <input type="email" name="email" id="id_email" placeholder="Enter your email" class="form-input">
            </div>

            <!-- To -->
            <div>
                <label class="form-label" for="id_to">To</label>
                <input type="email" name="to" id="id_to" placeholder="To..." class="form-input">
            </div>

            <!-- Password -->
            <div class="mt-4">
                <label class="form-label" for="id_comments">Message</label>
                <textarea name="comments" cols="40" rows="10" id="id_comments" placeholder="Enter your message..."
                    class="form-input"> </textarea>
            </div>

            <!-- Login Button -->
            <button type="submit" class="form-button">
                Share Now
            </button>
        </form>
    </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}