{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %}
    TechSphere
    {% endblock %}
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

  {% tailwind_css %}

  {% block header %}

  {% endblock %}

  {% block style %}

  {% endblock %}
</head>

<body class="bg-white leading-normal tracking-normal dark:bg-gray-900">
  {% block navbar %}
  {% include 'shared/navbar.html' %}
  {% endblock %}

  {% block content %}
  <!-- Main Container -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Main Content (Left) -->
    <main class="md:col-span-2 flex flex-col justify-center items-center min-h-screen gap-6">
      {% block main %}

      {% endblock %}
    </main>

    <!-- Sidebar (Right) -->
    <aside class="p-4">
      {% block sidebar %}

      {% endblock %}
    </aside>
  </div>
  {% endblock %}

  {% block footer %}
  {% include 'shared/footer.html' %}
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>

  {% block script %}

  {% endblock %}
</body>

</html>